{% extends "root_temps/base.html" %}
{% load static %}
{% block content %}
{% include "root_temps/nav.html" %}
<div class="hero-wrap js-fullheight">
  <div class="overlay"></div>
  <div class="container-fluid px-0">
    <div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
      <img class="one-third js-fullheight align-self-end order-md-last img-fluid" src="{% static 'images/home.svg' %}" alt="">
      <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
        <div class="text mt-5">
          <span class="subheading">MCRH</span>
          <h1 class="mb-3"><span>MCRH,</span> <span>Your</span> <span>Life Saver Hospital</span></h1>
          <p><a href="/" class="btn btn-primary px-3 py-3">Get in touch</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="ftco-domain">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-5 heading-white mb-4 mb-sm-4 mb-lg-0 ftco-animate">
        <h2>Subscribe To Our Newsletter.</h2>
        <p>Get Latest Updates Concerning Our Services</p>
      </div>
      <div class="col-lg-7 p-5 ftco-wrap ftco-animate">
        <form action="#" class="domain-form d-flex mb-3">
          <div class="form-group domain-name">
            <input type="email" class="form-control name px-4" placeholder="email">
          </div>
          <div class="form-group domain-select d-flex">
            <input type="submit" class="search-domain btn btn-primary text-center" value="Subscribe . . .">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section services-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-4">Why Treated At MCRH</h2>
        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-flex align-items-center">
          <div class="icon d-flex align-items-center justify-content-center order-md-last">
            <span class="flaticon-cloud-computing"></span>
          </div>
          <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
            <h3 class="heading">Your Data Is Always Secure</h3>
            <p class="mb-0"></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-flex align-items-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="flaticon-server"></span>
          </div>
          <div class="media-body pl-4">
            <h3 class="heading">Easy Data Retreval</h3>
            <p class="mb-0"></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-flex align-items-center">
          <div class="icon d-flex align-items-center justify-content-center order-md-last">
            <span class="flaticon-life-insurance"></span>
          </div>
          <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
            <h3 class="heading">Patient Data Security</h3>
            <p class="mb-0"></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-flex align-items-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="flaticon-settings"></span>
          </div>
          <div class="media-body pl-4">
            <h3 class="heading">24/7 Support | Treatment</h3>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
        <span class="subheading">Trusted By More than 3,000,000 Patients in Migori County</span>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="100">0</strong>
                <span>Current Stuff</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="200">0</strong>
                <span>Doctors and Nurses</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="50">0</strong>
                <span>Security Officer</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="1800000">0</strong>
                <span>Satisfied Patients</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftc-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 py-5">
        <img src="{% static 'images/study.svg' %}" class="img-fluid" alt="">
        <div class="heading-section ftco-animate mt-5">
          <h2 class="mb-4">Our Main Services</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur delectus fugiat eaque dolorem animi consectetur incidunt ex doloremque nobis vel.</p>
        </div>
      </div>
      <div class="col-lg-6 py-5">
        <div class="row">
          <div class="col-md-6 ftco-animate">
            <div class="media block-6 services border text-center">
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="flaticon-cloud-computing"></span>
              </div>
              <div class="mt-3 media-body media-body-2">
                <h3 class="heading">Data | Record Keeping And Access</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, facilis?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}